hhh
<hr>
<div class='row'>
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">1</button>
	  <button type="button" class="btn btn-default">2</button>

	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      Dropdown
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Dropdown link</a></li>
	      <li><a href="#">Dropdown link</a></li>
	    </ul>
	  </div>
	</div>
</div>
<div class='row'>
	<div class='col-lg-3 '><span class="glyphicon-class">glyphicon glyphicon-heart</span></div>
	<div class='col-lg-9 col-12'>
  <p>Lorem ipsum dolor sit amet
Consectetur adipiscing elit
Integer molestie lorem at massa
Facilisis in pretium nisl aliquet
Nulla volutpat aliquam velit
Faucibus porta lacus fringilla vel
Aenean sit amet erat nunc
Eget porttitor lorem</p>
   <p>Lorem ipsum dolor sit amet
Consectetur adipiscing elit
Integer molestie lorem at massa
Facilisis in pretium nisl aliquet
Nulla volutpat aliquam velit
Faucibus porta lacus fringilla vel
Aenean sit amet erat nunc
Eget porttitor lorem</p>
	</div> 
</div>

